.mainContainer {
    width: 196px;
}

.smallContainer {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}


@media (width < 710px) {
    .mainContainer {
        width: auto;
    }

    .smallContainer {
        width: auto;
        justify-content: center;
    }

}