.headerTop {
    padding-left: 12px;
    padding-right: 12px;


    height: 72px;

    color: hsla(0, 0%, 100%, .48);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logoContainer {
    cursor: pointer;
}

.leftContainer {
    display: flex;
    gap: 35px;
    z-index: 55;
}

.rightContainer {
    width: 40%;
    z-index: 55;
}



@media (width < 1240px) {
    .logoContainer {
        display: none;
    }

    .headerTop {
        gap: 20px;
    }

    .leftContainer {
        gap: 0;
    }
}


@media (width < 710px) {
    .headerTop {
        flex-direction: column;
        padding: 12px;
        height: 100%;
    }

    .rightContainer {
        width: 100%;
        z-index: 55;
        order: -1;
    }
}