.reviews {
    display: block;
}

.comment {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 8px
}

.review {
    background-color: #d9d7e0;
    color: #1f1b2e;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
}

.btn {
    background-color: #ea003d;
    text-align: center;
    cursor: pointer;
    height: 40px;
    border-width: 1px;
    border-radius: 8px;
    padding: 9px 15px;
    color: #fff;

    &:hover {
        color: #fff;
        background-color: #e1164c8d;
        transition-duration: .4s;
        
    }
}

.icon {
    width: 20px; 
    padding: 2px;
    border-radius: 4px;
    color: white;
    background-color: #1f1b2e;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.vote { 
    display: flex;
    align-items: center;  
}

.button {
    transition: color 400ms;
    cursor: pointer;
    font-size: 0;
    position: relative;
    background-color: transparent;

}

.value {
    box-sizing: border-box;
    color: #a5a1b2;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 42px;
    text-align: center;
    &:hover {
        color: #73a32f;
    }
}

.like {
    color: rgba(126,121,143,.72);
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    &:hover {
        color: #ea003d;
    }
}

.author {
    color: #a5a1b2;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    white-space: nowrap;
}

.wrap {
    display: flex;
    gap: 12px;
}

.text {
    color: #d9d7e0;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
}

.list{
    display: flex;
    gap: 10px;
}

.button {
    width: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #a5a1b2;
    background-color: transparent;
}

.date {
    color: #a5a1b2;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
}