.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;


    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    color: rgba(217, 215, 224, .8);
}