.mainContainer {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background-color: #312b45;
    border-radius: 4px;

    width: 50%;
    position: relative;
    cursor: pointer;

    padding: 0 25px;
}

.titleContainer {
    color: white;

    font-weight: 700;
    font-size: 18px;
    width: 50%;
}

.inputContainer {
    width: 50%;

    display: flex;
    gap: 15px;
    align-items: center;

    color: white;
    font-weight: 700;
    font-size: 18px;
}