.tabs {
    width: 100%;
    display: flex;
    margin-top: 16px;
}

.tab {
    padding: 0 0 12px;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    color: #e2e1e1c9;
    &:hover {
        color: #fff;
    }
  
}

.active {
    border-bottom: 2px solid  #ea003d;;
    color: #fff;
    transition-duration: .4s;
}