.column {
    display: flex;
    flex-direction: column;

}

.smallSize {
    padding: 0 12px;
    width: 25%;
}


.halfSize {
    padding: 0 12px;
    width: 50%;

    display: flex;
    gap: 32px;
    flex-direction: column;
}

.btnsGap {
    gap: 10px;
}

@media (width < 710px) {
    .smallSize {
        width: auto;
    }

    .halfSize {
        width: auto;
    }
}