.item {

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    cursor: pointer;
    transition: .2s;

    height: 275px;
    width: 151px;
}

.item:hover {
    transform: scale(1.05);
}