.wrapper {
  display: flex;
}

/*.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.slick-list {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;

}


.slick-slide.slick-active {
  display: flex;
}

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-45deg);
  color: white;

}

.prevArrow {
  left: 10px;
}

.nextArrow {
  right: 10px; 
}*/
