.dropdown {
    width: 630px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-top: 4px;
    z-index: 1;
}

.inner {
    background: #312b45;
    border-radius: 4px;
    box-shadow: 0 16px 32px rgba(7,5,14,.4);
}

.content {
    padding: 16px;
}

.carousel {
    white-space: nowrap;
}

.viewport {
    position: relative;
    margin-left: 0;
}

.viewportInner {
    height: 88px;
    margin-top: -12px;
    padding-top: 12px;
}

.list {
    position: relative;
    display: block;
    margin-bottom: 0;
    margin-right: -12px;
}

.item {
    position: relative;
    display: block;
    overflow: visible;
    transform: translate3d(0,0,0);
}

.itemSlick {
    width: 1200px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    left: 0;
    top: 0;
    transition: transform .1ms,-webkit-transform .1ms,-o-transform .1ms;
}