.filmographyList {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.item {
    display: flex;
    margin-bottom: 15px;
}

.photo {
    min-width: 80px;
    height: 123px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(270deg, #ea003d 0, #c447ff 100%);
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}

.info {
    width: 60%;
    padding-right: 10px;
}

.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    font-style: normal;
    color: #fff;;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.rating {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    color: #a5a1b2;
}

.rating > span {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    color: #a5a1b2;
}

.btn {
    height: 40px;
    border-width: 1px;
    border-radius: 8px;
    padding: 9px 15px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    background-color: #1f1b2e;
    &:hover {
        background-color: #28243a;
        transition-duration: .4s;
    }
}

.year {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}
