.moviesPageShowFilms {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}

.specialContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (width < 1240px) {
    .moviesPageShowFilms {
        justify-content: center;
    }
}