.imgContainer {
    background-color: #1f1b2e;
    border-color: #1f1b2e;
    border-radius: 8px;

    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .4s;
    cursor: pointer;
}

.btnImage {
    height: 16px;
    width: 16px;
    fill: white;
}

.imgContainer:hover {
    background-color: #312b45;
}