.personPage {
  margin-bottom: 24px;
}

.wrapper {
    width: 50%;
    margin-left: 25%;
}

.back {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.span {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    margin-left: 8px;
    color: #fff;
}

.arrow {
    transform: rotate(180deg);
}

.error {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.biography {
    margin-top: 40px;
}

.title {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
}

.descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    font-style: normal;
    margin-top: 16px;
    color: #d9d7e0;
}

.toggle {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, .48);

    &:hover {
        color: rgba(255, 255, 255, .88);
    }
}