.mainContainer {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;

    background-color: #312b45;
    border-radius: 4px;

    width: calc(50% - 7.5px);
    flex-grow: 0;
    position: relative;

    cursor: pointer;
}

.isOpenStyle {
    background-color: #554b78;
}

.basicContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0px 15px;
}

.basicTitle {
    color: white;

    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    overflow: hidden;
    width: 90%;
}

.subTitle {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .48);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subTitleItem {
    overflow: hidden;
}

.subTitleItem:not(:last-child)::after {
    content: ',';
}



.dropDownContainer {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 150;

    padding: 16px;
    min-width: 100%;


    background-color: #312b45;
    background: #312b45;
    border-radius: 4px;
    box-shadow: 0 16px 32px rgba(7, 5, 14, .4);
}


@media (width < 1240px) {
    .mainContainer {
        width: 100%;
    }
}