.person {
    display: inline-block;
    vertical-align: top;
    padding-right: 24px;
    cursor: pointer;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    overflow: hidden; 
}
  
.photo {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}
  
.text {
    overflow: hidden;
    margin-top: 8px;
    position: relative;
}

.title, .secondTitle, .extra {
    color: #d9d7e0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    &:hover {
        color: #d9d7e0;
        transition: color 400ms;
    }
}

.extra {
    font-weight: 400;
    color: #a5a1b2;
    &:hover {
        color: #a5a1b2;
        transition: color 400ms;
    }
}
