.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

.innerContainer {
    width: 1240px;
    margin: 0 auto;
}

@media (width < 1240px) {
    .innerContainer {
        width: 100%;
        padding: 0 12px;
    }
}