@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Free+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


.App {}

.mainWrapper {
  background-color: rgba(16, 14, 25, 1);
}


/* ///////////////////////////////////////////////////////////////////////////////////// */

.header {
  position: relative;
}

.headerTop {
  padding-left: 12px;
  padding-right: 12px;


  height: 72px;

  color: hsla(0, 0%, 100%, .48);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.headerTop__left {
  display: flex;
  gap: 35px;
  z-index: 5;
}

.nav__container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.headerTop__right {
  z-index: 5;
}

.user__container {
  display: flex;
  align-items: center;
  gap: 16px;
}


.subscribeButton {
  padding: 7px 11px;
  height: 32px;

  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;

  color: #fff;


  border-radius: 8px;
  background-image: linear-gradient(270deg, #ea003d, #c447ff);
}

.user__item {
  display: flex;
  align-items: center;
  gap: 10px;

}

.user__item__img {
  width: 16px;
  height: 16px;
  fill: hsla(0, 0%, 100%, .48);

}

.user__avatar {
  width: 48px;
  height: 48px;
  border: 2px solid hsla(0, 0%, 100%, .48);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user__avatar__img {
  width: 20px;
  height: 20px;
  fill: hsla(0, 0%, 100%, .48);
}

.headerDropDown {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;


  z-index: 2;
  background: #1f1b2e;

  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
}

.headerDropDown__body {
  margin-top: 68px;
  padding: 32px;

  border-top: 1px solid hsla(0, 0%, 100%, .1);

  display: grid;
  grid-template: 1fr / 2fr 1fr 3fr;


  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, .48);
}


.movieProps {
  display: grid;
  grid-template: 1fr / 2fr 1fr 3fr;
}

.headerDropDown__double {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerDropDOwn__single {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropDownList {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-top: 10px;

  max-height: 100%;
  justify-content: space-between;

}

.dropDownList__title {
  color: white;

  font-weight: 700;

}

.dropDownList__itemsContainer {
  display: flex;
  max-height: 320px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.dropDownList__item {
  cursor: pointer;
}

.dropDownList__item:hover {
  color: white;
}

.headerDropDown__rightSide {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.compilation__container {
  display: flex;
  gap: 16px;
  height: 100%;
}

.mainAxisSplitter {
  width: 1px;
  background-color: hsla(0, 0%, 100%, .1);
}

.movingSplitter {
  background-color: #fff;
  height: 20px;
  width: 2px;
}

.rightSide__itemsContainer {
  min-height: 100%;
}

.compilation__item {
  padding-bottom: 5px;
}


.subscribeItemContainer {
  display: flex;
  height: 100%;
  width: 244px;

  flex-direction: column;
  gap: 30px;
}

.subscribeItemAnimation {
  height: 264px;
  width: 244px;
  border-radius: 8px;

  background-color: #312b45;

  position: relative;
}

.subscribeItemButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  border: 1px solid #312b45;
  background-color: #312b45;
  border-radius: 8px;

  color: white;

  font-weight: 700;

  padding: 9px 15px;

  gap: 8px;
}

.subscribeItemButton__img {
  height: 16px;
  width: 16px;

  fill: white;
}

/* /////////////////////////////////////////////////////////////////////////////////// */

.footer {

  margin-top: 1000px;
  color: hsla(0, 0%, 100%, .48);
}

.footer__container {
  width: 1240px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  padding: 48px 0;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.footer__column {
  display: flex;
  flex-direction: column;

}

.columnSize__small {
  padding: 0 12px;
  width: 25%;
}

.btns_gap {
  gap: 10px;
}

.footer__colorLink {

  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 700;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(-45deg, #c447ff, #ea003d);
}

.footer__supportDescription {
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, .48);


}

.footer__supportsBtnContainer {
  width: 196px;

}

.footer__supports__littleBtnContainer {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.supports_littleBtn {
  background-color: #1f1b2e;
  border-color: #1f1b2e;
  border-radius: 8px;

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.littleBtn__img {
  height: 16px;
  width: 16px;
  fill: white;
}

.footer__askLink {
  color: white;
  font-weight: 700;
}

.footer__widget {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.footer__widget__borders {
  display: flex;
  justify-content: center;
  align-items: center;


  background: linear-gradient(180deg, #A869F0 0, #834CC2 100%);
  border-radius: 20px;
  box-shadow: 0 0 104px #A869F0;
  height: 104px;
  width: 104px;
}

.footer__widget__imgContainer {
  height: 56px;
  width: 56px;
  fill: white;
}

.footer__widget__text {
  text-align: center;

  color: #a5a1b2;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

.columnSize__half {
  padding: 0 12px;
  width: 50%;

  display: flex;
  gap: 32px;
  flex-direction: column;
}


.footer__downLoadContainer {
  display: flex;
  gap: 12px;
}


.footer__downLoadItem {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 12px;
  gap: 10px;

  border-radius: 8px;
  background-color: #1f1b2e;

  width: fit-content;
}


.footer__downLoadItem__img {
  display: flex;
  height: 100%;
  width: 20px;
  fill: white;
}

.footer__downLoadItem__textContainer {
  display: flex;
  flex-direction: column;
}

.downLoadItem__preambula {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 12px;
  line-height: 12px;
  color: hsla(0, 0%, 100%, .72);
}

.downLoadItem__caption {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  color: #fff;
}


.copyRightsContainer {
  color: hsla(0, 0%, 100%, .48);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}


.socialContainer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.socialItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1f1b2e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socialItem__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  fill: white;
}


/* ////////////////////////////////////////////////////// */

.carouselMainContainer {
  position: relative;

  height: 300px;
}


.carouselVIEW {
  margin: -25px;
  overflow: hidden;
}

.carouselLENTA {
  overflow: hidden;
  display: flex;
  gap: 27px;

  padding: 25px;
}







.carousel__viewPort {
  width: 1240px;
  margin: 0 auto;

  position: relative;
}



.carousel__container {
  display: flex;
  gap: 18px;
  overflow: hidden;

  margin: -25px;
  padding: 25px;
}

.carousel__arrowContainer {
  position: absolute;
  top: 40%;
  /* width: 20px;
  height: 20px;
  border-bottom: 4px solid hsla(0, 0%, 100%, .72);
  border-right: 4px solid hsla(0, 0%, 100%, .72);
  transform: skew(-10deg, -10deg); */

}

.carouselLeftArrow {
  position: absolute;
  top: calc(50% - 20px);
  left: -25px;
}

.carouselRightArrow {
  position: absolute;
  top: calc(50% - 20px);
  right: -25px;
}

.leftArrow {
  left: -25px;
  rotate: 135deg;
}

.rightArrow {
  right: -25px;
  rotate: 315deg;
}

.carousel__item {


  width: 154px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  transition: .2s;
}

.carousel__item:hover {
  transform: scale(1.05);
}


.carousel__itemEMPTY {
  height: 215px;
  min-width: 140px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1b2e;
}

.carousel__itemEMPTY__text {
  display: flex;
  justify-content: center;
  align-items: center;


  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #a5a1b2;
}






.carousel__item__imgSection {
  position: relative;
}

.carousel__item__imageWrapper {
  overflow: hidden;
  border-radius: 8px;
}


.carousel__item__imageProps {
  max-width: 100%;
}


.carousel__item__title {
  color: #d9d7e0;

  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: 20px;
  line-height: 20px;


  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: color;
  white-space: nowrap;
}

.carousel__item__extra {
  color: #a5a1b2;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 16px;
  line-height: 16px;


  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel__item__hoverContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(7, 5, 14, .8);
  z-index: 2;


  width: 100%;
  padding-right: 30px;


  transition: .2s;

  opacity: 0;
}

.carousel__item__hoverContainer:hover {
  opacity: 1;
}


.carousel__item__hoverBtnContainer {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.carousel__item__hover__btn {
  margin: 500px;
  fill: white;
  width: 20px;
  height: 20px;

  position: relative;
}


.tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: -10px;

  z-index: 55;

  padding: 5px 7px;
  border-radius: 4px;
  white-space: nowrap;

  color: white;
  background-color: #312b45;

  font-size: 12px;

  opacity: 0;
  transition: .2s;
}


.tooltip::after {
  content: '';

  position: absolute;
  z-index: 54;
  bottom: -10px;
  left: 8px;


  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #312b45;

}

.carousel__item__hover__btn:hover .tooltip {
  opacity: 1;
}


.carousel__item__hoverPropsContainer {
  position: absolute;
  bottom: 16px;
  left: 16px;


  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  padding-right: 35px;
}

.carousel__item__hover__propsItem {
  display: flex;
}


.firstPropsContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.firstPropsContainer__ratingText {
  font-size: 24px;
  font-weight: 700;
  color: white;
}



.firstPropsContainer__ratingContainer {
  width: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.ratingLineMAIN {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: rgba(165, 161, 178, .32);
  border-radius: 1px;
}


.ratingLinePROGRESS {
  position: absolute;
  top: 0;
  height: 2px;
  width: 55%;
  border-radius: 1px;
  background-color: red;
}



.secondPropsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-right: 20px;
}


.secondPropsContainer__text {
  color: #a5a1b2;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.bigLine {
  height: 4px;
  border-radius: 2px;
}

.thirdPropsContainer {
  color: #d9d7e0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}


.carousel__item__ageBage {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 20px;
  height: 16px;
  z-index: 1;

  background-color: rgba(7, 5, 14, .5);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.carousel__item__ageBage__text {
  color: white;
  font-size: 10px;
}


/* ///////////////////////////////////////////////////////////////////// */


.gallery_blockHeader {
  width: 1240px;
  margin: 200px auto;
  display: flex;
  gap: 5px;
}

.gallery__blockHeader__text {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.gallery__blockHeader__arrow {
  position: relative;
}

.miniArrow {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  height: 10px;
  width: 10px;

  rotate: 315deg;

}


/* ///////////////////////////////////////////////////////////////////////////////////// */


.home__teaserContainer {
  width: 1240px;
  margin: 0 auto;
}

.home__teaserList {
  display: flex;
  gap: 16px;
  width: 100%;
}

.home__teaserPlate {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;


  background-color: #1f1b2e;
  height: 48px;
  border-radius: 8px;

  width: 100%;
}

.home__teaserPlate__imgContainer {
  height: 32px;
  fill: white;
}

.home__teaserPlate__img {
  height: 100%;
}

.home__teaserPlate__text {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
}


.bigSlider {}

.bigSliderContainer {}

.bigSlider__carouselItem {
  position: relative;
  margin: 500px auto;

  width: 1240px;
  height: 525px;

  border-radius: 24px;
  background-color: rgb(97, 85, 97);
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;

  overflow: hidden;
}

.bigSlider__IMAGE {
  position: absolute;
  margin: -32px;
  width: 100%;

}


.bigSlider__carouselCONTENT {
  width: 500px;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 8px;

  z-index: 3;

}


.bigSlider__carouselItem__title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.bigSlider__carouselItem__sinopsys {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.bigSliderButtonContainer {
  z-index: 5;
}

.headerBar__container {
  width: 1240px;
  margin: 500px auto;
}

.headerBar__breadCrumbsContainer {
  width: 1240px;
  margin: 500px auto;
}

.headerBar__breadCrumbs {
  display: flex;
  gap: 5px;
  color: rgba(255, 255, 255, .56);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
}

.breadCrumbs__item:not(:first-child)::before {
  content: '/';
  color: rgba(255, 255, 255, .56);
  padding-right: 5px;
}

.bredCrumbs__itemLINK {
  box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
  color: #fff;
  opacity: 1;
}

.headerBar__textInfo {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.headerBar__textInfo__title {}

.headerBar__textInfo__params {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #a5a1b2;
}


/* /////////////////////////////////////////////////////////////////// */

.sort__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sortDropMenu {
  display: flex;
  align-items: center;


  gap: 12px;
  cursor: pointer;
}

.sortDropMenu__imageContainer {
  width: 16px;
  height: 16px;
  fill: white;

  rotate: 270deg;
}

.sortDropMenu__title {
  color: white;

  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
}


.miniArrow {
  rotate: 45deg;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid hsla(0, 0%, 100%, .72);
  border-right: 3px solid hsla(0, 0%, 100%, .72);
  transform: skew(-10deg, -10deg);
}


.sortDropDown__container {
  background-color: #1f1b2e;
  width: 250px;

  cursor: pointer;
}

.sortDropDown__title {
  padding: 0 16px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #a5a1b2;


  height: 44px;

  display: flex;
  align-items: center;

  padding: 12px 16px;
}


.sortDropDown__item {
  position: relative;

  height: 44px;

  display: flex;
  align-items: center;

  padding: 12px 16px;

  font-weight: 700;
  font-style: normal;
  color: rgba(255, 255, 255, .72);
}


.sortDropDown__item:hover {
  background-color: #312b45;
}

.sortDropDown__item__SELECTEDSTRIPE {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 4px;
  background-color: red;
}


/* ////////////////////////////////////////////////////////////////////// */


.filtersMainContainer {
  position: relative;
  margin: 200px auto;

  width: 1240px;

  background-color: #1f1b2e;
  padding: 16px;
  border-radius: 6px;
}


.filter__itemCotainer {
  width: 20%;
  background-color: #312b45;
  border-radius: 4px;

  padding: 12px 16px;

  position: relative;
}

.filter__itemENTIRE {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__itemContainer__title {
  color: white;

  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.filter__dropDown__container {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 2;


  background-color: #312b45;
  background: #312b45;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(7, 5, 14, .4);
}

.filter__genre {
  width: 630px;
  overflow: hidden;
}

.filter__dropDown__inners {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.filter__carousel__LIST {
  display: flex;
  overflow: hidden;
}

.filter__carousel__LIST {
  display: flex;
  gap: 12px;

  overflow: hidden;
}

.filter__carousel__item {
  height: 88px;
  min-width: 108px;

  padding: 16px 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, .32);

  cursor: pointer;
}

.filter__carousel__item__img {
  width: 32px;
  height: 32px;
  fill: rgb(255, 255, 255);
}

.filter__carousel__item__text {
  color: #fff;

  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.filter__checkBoxContainer__UL {
  padding-top: 4px;
  border-top: 1px solid rgba(255, 255, 255, .32);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.filter__checkBox__item__LI {}


.filter__checkBox__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.filter__dropDown__input {
  display: none;
}

.filter__dropDown__input__text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  color: rgba(217, 215, 224, .8);
}


.filter__dropDown__input__checkbox {
  width: 16px;
  height: 16px;
  fill: #fff;
  opacity: 1;
}


.filter__radio__container {

  background: #312b45;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(7, 5, 14, .4);

  position: absolute;
  top: 50px;
  left: 0;
  padding: 16px;
}

.filter__radio__label {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}


.filter__radioBOX {
  display: none;
}

.filter__radio__text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  color: rgba(217, 215, 224, .8);
}

.filter__radio__img {
  width: 16px;
  height: 16px;
  fill: #fff;
}


.input__range {
  width: 100px;
}

.rangeValueText {
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
}





.inputREGISERTEXT {
  width: 60%;
  padding: 5px;
  height: 20px;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 700;
}


/* /////////////////////////////////////////////////////////////////////// */


.pageSection__container {
  width: 1240px;
  margin: 0 auto;
}

.pageSection__container__inner {
  width: 50%;
  margin: 0 auto;
}


.personPage__personHead {
  padding-top: 60px;
}

.personHead__photo {
  width: 120px;
  height: 120px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  overflow: hidden;

  background-color: #fff;
}





/* /////////////////////////////////////////// */


.dropDownTVPLUS {
  display: flex;
  min-height: 328px;
  gap: 30px;
}

.tvplusSideContent {
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainContent {
  min-height: 100%;
  width: 100%;
  border-left: 1px solid hsla(0, 0%, 100%, .1);
  padding-left: 50px;


  display: flex;
  justify-content: space-between;
}



/* ////////////////////////////////////////////////////////////// */


.notifyContainer {
  height: 212px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 24px;
}

.notifyImgContainer {
  height: 56px;
  width: 56px;
  opacity: 0.32;

  fill: rgb(255, 255, 255);
}



/* ///////////////////////////////////////////////////////////////// */


.profileContainer {
  display: grid;
  grid-template: 1fr /2fr 1fr;

  min-height: 244px;
}

.profileMainContent {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, minmax(155px, 1fr));
  gap: 24px;
}

.profileSideContent {}


