* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;





  background-color: rgba(16, 14, 25, 1);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


.App {}

.header {
  width: 1240px;
  position: relative;
  margin: 0 auto;
}

.headerTop {
  padding-left: 12px;
  padding-right: 12px;


  height: 72px;

  color: hsla(0, 0%, 100%, .48);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.headerTop__left {
  display: flex;
  gap: 35px;
  z-index: 5;
}

.nav__container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav__item {}

.headerTop__right {
  z-index: 5;
}

.user__container {
  display: flex;
  align-items: center;
  gap: 16px;
}


.subscribeButton {
  padding: 7px 11px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;

  color: #fff;


  border-radius: 8px;
  background-image: linear-gradient(270deg, #ea003d, #c447ff);
}

.user__item {
  display: flex;
  align-items: center;
  gap: 10px;

}

.user__item__img {
  width: 16px;
  height: 16px;
  fill: hsla(0, 0%, 100%, .48);

}

.user__avatar {
  width: 48px;
  height: 48px;
  border: 2px solid hsla(0, 0%, 100%, .48);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user__avatar__img {
  width: 20px;
  height: 20px;
  fill: hsla(0, 0%, 100%, .48);
}

.headerDropDown {
  position: absolute;
  top: 0;
  width: 100%;


  z-index: 2;
  background: #1f1b2e;

  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
}

.headerDropDown__body {
  margin-top: 68px;
  padding: 32px;

  border-top: 1px solid hsla(0, 0%, 100%, .1);

  display: grid;
  grid-template: 1fr / 2fr 1fr 3fr;


  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, .48);
}

.headerDropDown__double {}

.dropDownList {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-top: 10px;

  height: 100%;
  justify-content: space-between;


  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, .48);

}

.dropDownList__title {
  color: white;

  font-weight: 700;

}

.dropDownList__itemsContainer {
  display: flex;
  max-height: 320px;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropDownList__item {
  padding-bottom: 8px;
}

.headerDropDown__rightSide {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.compilation__container {
  display: flex;
  gap: 16px;
  height: 100%;
}

.mainAxisSplitter {
  width: 1px;
  background-color: hsla(0, 0%, 100%, .1);
}

.mobileSplitter {
  background-color: #fff;
  height: 20px;
  width: 2px;
}

.rightSide__itemsContainer {
  min-height: 100%;
}

.compilation__item {
  padding-bottom: 5px;
}


.subscribeItemContainer {
  display: flex;
  height: 100%;
  width: 244px;

  justify-content: space-between;
  flex-direction: column;
}

.subscribeItemAnimation {
  height: 264px;
  width: 244px;
  border-radius: 8px;

  background-color: #312b45;

  position: relative;
}

.subscribeItemButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  border: 1px solid #312b45;
  background-color: #312b45;
  border-radius: 8px;

  color: white;

  font-weight: 700;

  padding: 9px 15px;

  gap: 8px;
}

.subscribeItemButton__img {
  height: 16px;
  width: 16px;

  fill: white;
}



.footer {}

.footer__container {
  width: 1240px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  padding: 48px 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.columnSize__small {
  padding: 0 12px;
  width: 25%;
}

.footer__colorLink {

  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 700;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(-45deg, #c447ff, #ea003d);
}

.footer__supportDescription {
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, .48);


}

.footer__supportsBtnContainer {
  width: 196px;

}

.footer__supports__littleBtnContainer {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.supports_littleBtn {
  background-color: #1f1b2e;
  border-color: #1f1b2e;
  border-radius: 8px;

  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.littleBtn__img {
  height: 16px;
  width: 16px;
  fill: white;
}

.footer__askLink {
  color: white;
  font-weight: 700;
}

.footer__widget {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.footer__widget__borders {
  display: flex;
  justify-content: center;
  align-items: center;


  background: linear-gradient(180deg, #A869F0 0, #834CC2 100%);
  border-radius: 20px;
  box-shadow: 0 0 104px #A869F0;
  height: 104px;
  width: 104px;
}

.footer__widget__imgContainer {
  height: 56px;
  width: 56px;
  fill: white;
}

.footer__widget__text {
  text-align: center;

  color: #a5a1b2;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}